flows_KEY-TS.json
[{"id":"ba3f399e.716d88","type":"tab","label":"Flow 1"},{"id":"30937b2f.152004","type":"tab","label":"my1","disabled":false,"info":""},{"id":"f9b104fa.8b0c98","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"3de89780.7a1138","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1},{"id":"42416496.98fedc","type":"ui_group","z":"","name":"Default","tab":"3de89780.7a1138","disp":true,"width":"6"},{"id":"747f08fd.f48cb8","type":"inject","z":"ba3f399e.716d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":125,"wires":[["b3cb5d51.f21e7"]]},{"id":"176de405.88919c","type":"debug","z":"ba3f399e.716d88","name":"","active":true,"console":"false","complete":"false","x":509,"y":121,"wires":[]},{"id":"35eaf968.243836","type":"inject","z":"30937b2f.152004","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":249,"y":94,"wires":[["e269540a.6ca7c8"]]},{"id":"e269540a.6ca7c8","type":"debug","z":"30937b2f.152004","name":"","active":true,"console":"false","complete":"false","x":486,"y":92,"wires":[]},{"id":"b3cb5d51.f21e7","type":"function","z":"ba3f399e.716d88","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["176de405.88919c"]]},{"id":"80d45bb0.c165b8","type":"ui_button","z":"ba3f399e.716d88","name":"","group":"42416496.98fedc","order":0,"width":"3","height":"1","passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":220,"wires":[["b3cb5d51.f21e7"]]}]