flows_KEY-TS.json
[{"id":"ba3f399e.716d88","type":"tab","label":"Flow 1"},{"id":"30937b2f.152004","type":"tab","label":"my1","disabled":false,"info":""},{"id":"747f08fd.f48cb8","type":"inject","z":"ba3f399e.716d88","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":157,"y":125,"wires":[["b3cb5d51.f21e7"]]},{"id":"176de405.88919c","type":"debug","z":"ba3f399e.716d88","name":"","active":true,"console":"false","complete":"false","x":509,"y":121,"wires":[]},{"id":"35eaf968.243836","type":"inject","z":"30937b2f.152004","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":249,"y":94,"wires":[["e269540a.6ca7c8"]]},{"id":"e269540a.6ca7c8","type":"debug","z":"30937b2f.152004","name":"","active":true,"console":"false","complete":"false","x":486,"y":92,"wires":[]},{"id":"b3cb5d51.f21e7","type":"function","z":"ba3f399e.716d88","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":140,"wires":[["176de405.88919c"]]},{"id":"80d45bb0.c165b8","type":"ui_button","z":"ba3f399e.716d88","name":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":120,"y":220,"wires":[["b3cb5d51.f21e7"]]}]